
## Wappler routing
RewriteEngine On
<IfModule mod_negotiation.c>
    Options -MultiViews
</IfModule>
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^/?v1/ekran-bilgi(?:/)?$ dmxConnect/api/BilgiEkrani/ekran_mobil.php [QSA,NC,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_METHOD} POST
RewriteRule ^/?kullanici-foto-guncelle(?:/)?$ dmxConnect/api/mobil/KullaniciFotoIslemleri/kullanici-profil-foto-yukle.php [QSA,NC,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^/?dropdowns(?:/)?$ dmxConnect/api/mobil/DropDowns/tumBilgiler.php [QSA,NC,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_METHOD} POST
RewriteRule ^/?token-yenile(?:/)?$ dmxConnect/api/mobil/JwtToken/jwtTokenRefresh.php [QSA,NC,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_METHOD} POST
RewriteRule ^/?token-olustur(?:/)?$ dmxConnect/api/mobil/JwtToken/jwtTokenGenerate.php [QSA,NC,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_METHOD} POST
RewriteRule ^/?token-dogrula(?:/)?$ dmxConnect/api/mobil/JwtToken/jwtTokenVerify.php [QSA,NC,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_METHOD} POST
RewriteRule ^/?kullanici-sifre-guncelle(?:/)?$ dmxConnect/api/mobil/KullaniciBilgileri/kullanici_passwd_update.php [QSA,NC,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_METHOD} DELETE
RewriteRule ^/?kullanici-sil(?:/)?$ dmxConnect/api/mobil/KullaniciBilgileri/kullanici_sil.php [QSA,NC,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^/?kullanici-bilgileri(?:/)?$ dmxConnect/api/mobil/KullaniciBilgileri/kullanici_bilgileri.php [QSA,NC,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_METHOD} POST
RewriteRule ^/?kullanici-mobil-giris(?:/)?$ dmxConnect/api/mobil/KullaniciBilgileri/kullanici_giris.php [QSA,NC,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_METHOD} POST
RewriteRule ^/?kullanici-kayit(?:/)?$ dmxConnect/api/mobil/KullaniciBilgileri/kullanici_kayit.php [QSA,NC,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^/?kullanici-bilgileri-guncelle(?:/)?$ dmxConnect/api/mobil/KullaniciBilgileri/kullanici_bilgileri_guncelle.php [QSA,NC,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^/?monitor(?:/)?$ ekran.html [QSA,NC,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^/?ekran(?:/)?$ dmxConnect/api/ekranlar/ekran_liste.php [QSA,NC,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^/?(?:/)?$ index.html [QSA,NC,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^/?(?:/)?$ index.html [QSA,NC,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^/?ekranlar(?:/)?$ index.html [QSA,NC,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^/?yerleskeler(?:/)?$ index.html [QSA,NC,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^/?odalar(?:/)?$ index.html [QSA,NC,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^/?ekran-listesi(?:/)?$ index.html [QSA,NC,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^/?toplantilar(?:/)?$ index.html [QSA,NC,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^/?ekranekle/([^/]+?)/([^/]+?)/([^/]+?)/([^/]+?)(?:/)?$ index.html?yerleskeid=$1&odaid=$2&odatipid=$3&rowid=$4 [QSA,NC,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^/?ekran-guncelle/([^/]+?)/([^/]+?)/([^/]+?)(?:/)?$ index.html?yerleskeid=$1&ekranid=$2&odatipi=$3 [QSA,NC,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^/?oda-kayit/([^/]+?)(?:/)?$ index.html?yerleskeid=$1 [QSA,NC,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^/?oda-kayit-guncelle/([^/]+?)(?:/)?$ index.html?odaid=$1 [QSA,NC,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^/?ekran_ekle_/([^/]+?)/([^/]+?)/([^/]+?)/([^/]+?)(?:/)?$ index.html?yerleskeid=$1&odaid=$2&odatipid=$3&rowid=$4 [QSA,NC,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^/?ekran_detay/([^/]+?)/([^/]+?)/([^/]+?)(?:/)?$ index.html?yerleskeid=$1&ekranid=$2&odatipi=$3 [QSA,NC,L]
## End Wappler routing
